/*---------Estilos generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Courgette", sans-serif;
    background: #2D2636;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.row{
    width: 100%;
    margin: 20px 0;
}
.clearfix{
    display: table;
}
.clearfix:after{
    content: "";
    clear: both;
}
h4{
    color: #F8B96A;
    text-align: center;
    background: #1C1722;
    margin-bottom: 10px;
}
p{
    color:#fff;
    text-align: center;
    background: #1C1722;
    
}
/*-------END--Estilos generales*/

@media screen and (max-width: 600px) {
    html{
        font-size: 16px;
    }
    /*---------------header*/
    header{
        width: 100%;
        height: 80px;
        background: #333;
        color: #fff;
        font-family: 'Courgette', sans-serif;
    }
    header .container{
        display: table;
    }    
    header img{
        width: 100%;    
    }
    header label{
        margin: 20px;
        cursor: pointer;
        color: gold;
    }
    #menu-bar{
        display: none;
    }
    .logo{
        float: left;
        display: inline-block;
        width: 40%;
    }
    .menu{
        float: right;    
    }
    .menu nav{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 50vh;
        padding-left: 25px;
        background: rgba(51,51,51,.9);
        transition: all .5s;
        transform: translateX(-100%);
        z-index: 1100;
    }
    .menu ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }    
    .menu a{
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
    .menu a:hover{
        background: rgba(255,255,255,.3);
    }
    #menu-bar:checked ~ nav{
        transform: translateX(0%);
    }
/*------------END---header*/    
/*---------------BANNER*/
    section.banner{
        position: relative;
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 20px;
    }
    section.banner img{ 
        width: 100%;
        height: auto;
        text-align: center;     
    }
    section.banner .text-banner{
        position: absolute;
        background: #1C1722;
        display: block;
        text-align: center;
        left:60px;
        right:60px;
        top: 20px;
        bottom: 20px;
        margin:0 auto;
        padding: 15% 15%;
        overflow: hidden;
    }
    section.banner h2{
        color: #F8B96A;
    }
    section.banner p{
        margin-top: 20px;
    }
/*------------END---BANNER*/
/*---------------hero*/
    section.hero .text-hero{
        text-align: center; 
        background: #1C1722;
        padding: 20px 0;
    }
    section.hero img{
        width: 100%;
    }    
/*------------END---hero*/
/*---------------hero2*/
    section.hero2 img{
        width: 100%;
    }
    section.hero2 .text-hero2{
        text-align: center; 
        background: #1C1722;
    }
    #p-Flatness{
        padding: 20px 20px;
        text-align: left;
    }
    section.video iframe{
        width: 100%;
    }
    section.video p{
        padding: 20px;
        text-align: left;
    }
    .col-2de2{
        display: none;
    }
    footer p{
        height: 40px;
        padding: 10px;
    }
    
/*------------END---hero2*/
}

@media screen and (min-width : 601px) {     
    /*---------------header*/
header{
        width: 100%;
        height: 100px;
        background: #333;
        color: #fff;
        font-family: 'Courgette', sans-serif;
}
.menu label{
        display: none;
    }
header .container{
    display: table;
}
header img{
    width: 150px;
}
#menu-bar{
    display: none;
}
.logo{
    float: left;
}
.menu{
    float: right;    
}
.menu ul{
        position: static;
        width: auto;
        height: auto;
        float: right;
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .menu li{
        padding: 20px;
    }
    .menu a{
        text-decoration: none;
        color: #fff;
    }
/*------------END---header*/
/*---------------BANNER*/
    section.banner{
        height: 400px;
        overflow: hidden;
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    section.banner img{ 
        width: 100%;
        height: auto;
        text-align: center;     
    }
    section.banner .text-banner{
        position: absolute;
        background: #1C1722;
        display: block;
        text-align: center;
        left:150px;
        right:150px;
        top: 50px;
        bottom: 50px;
        margin:0 auto;
        overflow: hidden;
    }
    section.banner h2{
        color: #F8B96A;
        font-size: 80px;
        padding-top: 60px;
    }
    section.banner p{
        margin-top: 20px;
    }
/*------------END---BANNER*/
/*---------------hero*/
section.hero img {
    display: block;
    width: 100%;
}
section.hero .col-1de3{
    width: 32%;
    float: left;    
}
#col-central{
    margin: 0 2%;
}
section.hero .text-hero{    
    background: #1C1722;
    padding: 30px; 
    text-align: center;
    height: 130px;
}

section.hero2 #p-Flatness{
    text-align: left;
    padding: 10px 0;
}
section.hero2 .col-1de2{
    width: 59%;
    float: left;
    margin-right: 1%;
}
section.hero2 img{
    width: 100%;
    display: block;
    }
section.hero2 .col-2de2{
    width: 39%;
    float: left; 
    margin-left: 1%;
}
section.hero2 .text-hero2{
    background: #1C1722;
    padding: 40px; 
    text-align: center;    
}
section.video iframe{
    display: block;
    width: 100%;
    display: block;
}
section.video .text-video{
    background: #1C1722;
}
.text-video p{
    padding: 20px;
    text-align: left;
}
aside input{
    width: 100%;
    height: 70px;
    padding-left: 20px;
    background: #2D2636;
    margin-bottom: 10px;
    border-radius: 15px;
    border: solid 20px #1C1722;
}
    aside h4{
        padding: 10px;  
        margin-bottom: 0;
    }
    aside img{
        display: block;
    }
    aside p{
        padding: 10px;
    }
    .aside-text{
        text-align: left;
        color: #fff;
        background: #1C1722;
    }
    .aside-text li{
        padding: 20px;
        margin: 10px;
        border-radius: 50%;
        background: #2D2636;
        cursor: pointer;
    }
footer{
    height: 50px;
    background: #1C1722;
    color: #fff;
}
footer p{
    padding-top: 15px;
    text-align: center;
}
/*------------END---hero*/    
}
