*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    background: #2D2636;
}
.container{
    width: 90%;
    margin: auto;
}
.row{
    margin: 20px 0;
}
.clearfix{
    display: table;
}
.clearfix:after{
    content: "";
    clear: both;
}
/*---------------header*/
header{
        width: 100%;
        height: 100px;
        background: #333;
        color: #fff;
        font-family: 'Courgette', sans-serif;
}
header .container{
    display: table;
}
header img{
    width: 200px;
}
#menu-bar{
    display: none;
}
.logo{
    float: left;
}
.menu{
    float: right;    
}
.menu ul{
        position: static;
        width: auto;
        height: auto;
        float: right;
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .menu li{
        padding: 20px;
    }
    .menu a{
        text-decoration: none;
        color: #fff;
    }
/*------------END---header*/
/*---------------BANNER*/
section.banner{
    height: 400px;
    overflow: hidden;
}
section.banner .container{
    position: relative;
}
section.banner img {
    position: relative;
    left: 0;
    width: 100%;
}
section.banner .text-banner{
    position: absolute;
    top: 10%;  
    left: 25%;    
    background: #1C1722;
    display: inline-block;
    padding: 40px; 
}
section.banner h4{
        font-size: 80px; 
        color: #F8B96A;
    }
section.banner p{
        color:#fff;
    }
/*------------END---BANNER*/
/*---------------hero*/
section.hero img {
    display: block;
    width: 100%;
}
section.hero .col-1de3{
    width: 32%;
    float: left;    
}
#col-central{
    margin: 0 2%;
}
section.hero .text-hero{    
    background: #1C1722;
    padding: 40px; 
    text-align: center;
}
section.hero h4{
        color: #F8B96A;
    text-align: center;
    background: #1C1722;
    }
section.hero p{
        color:#fff;
    text-align: center;
    background: #1C1722;
    }
#p-Flatness{
    text-align: left;
}
section.hero .col-1de2{
    width: 59%;
    float: left;
    margin-right: 1%;
}
section.hero .col-2de2{
    width: 39%;
    float: left; 
    margin-left: 1%;
}
iframe{
    width: 100%;
    display: block;
}
footer{
    height: 50px;
    background: #1C1722;
    color: #fff;
}
footer p{
    padding-top: 15px;
}
/*------------END---hero*/
@media screen and (max-width: 600px) {
    /*---------------header*/
    header{
        width: 100%;
        height: 150px;
        background: #333;
        color: #fff;
        font-family: 'Courgette', sans-serif;
    }
    header .container{
        display: table;
    }
    header img{
        width: 350px;
    }
    header label{
        font-size: 28px;
        margin: 50px 0;
        cursor: pointer;
    }
    #menu-bar{
        display: none;
    }
    .logo{
        float: left;
    }
    .menu{
        float: right;    
    }
    .menu nav{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(51,51,51,.9);
        transition: all .5s;
        transform: translateX(-100%);
    }
    .menu a{
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
    .menu a:hover{
        background: rgba(255,255,255,.3);
    }
    #menu-bar:checked ~ nav{
        transform: translateX(0%);
    }
/*------------END---header*/    
/*---------------BANNER*/
    section.banner{
        position: relative;
    }
    section.banner img{
        width: 100%;
        height: 400px;
    }
    section.banner .text-banner{
        position: absolute;
        background: #1C1722;
        text-align: center;
        padding: 30px;
        top: 10%;
        margin: 0 10%;
    }
    section.banner h4{
        font-size: 80px; 
        color: #F8B96A;
    }
    section.banner p{
        color:#fff;
    }
/*------------END---BANNER*/
/*---------------hero*/
    section.hero .text-hero{
        text-align: center;   
    }
    section.hero img{
        width: 100%;
    }
    section.hero h4{
        font-size: 20px; 
        color: #F8B96A;
    }
    section.hero p{
        color:#fff;
    }
/*------------END---hero*/
}
@media screen and (max-width : 920px) {
    /*---------------header*/
    
    /*------------END---header*/    
}
@media screen and (min-width : 921px) {
    /*---------------header*/
    .menu label{
        display: none;
    }
    /*------------END---header*/    
}
